<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facultad.name %>
</p>

<p>
  <strong>Nombreplanes:</strong>
  <%= @facultad.Nombreplanes %>
</p>

<%= link_to 'Edit', edit_facultad_path(@facultad) %> |
<%= link_to 'Back', facultads_path %>
